* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: seashell;

}

.quizBox {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 50px 50px 50px;
    border: 5px solid;
    border-radius: 5px;
}
